.card-header{
  background-color: white;
}

.card-title{
  text-align: justify;
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.2em;
  text-color: #1c155b;
}
.collapsed-faq{
  text-color: #1c155b;
}
a:hover{
  text-decoration: none;
  text-color: #1c155b;
}

.card-body{
  text-align: justify;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.2em;
}
