<body class="main">
  <p class="main-title">
    Nova Lista
  </p>
  <div class="container global-div">
    <div class="row">
      <div class="col-md-12">
        <form class="form-signin" (ngSubmit)="onSubmit()">
          <div class="form-label-group">
            <label class="label-login">Nome</label>
            <input type="text" class="form-control" name="nome" [(ngModel)]="model.nome" #nome="ngModel" placeholder="Nome" required autofocus>
          </div>

          <div class="form-label-group">
            <label class="label-login">Tipo de Lista</label><br>
            <label class="customradio"><span class="radiotextsty">Pública</span>
              <input type="radio" name="situacao" class="radio-options" [(ngModel)]="model.situacao" #situacao="ngModel" value="PUB">
              <span class="checkmark"></span>
            </label>

            <label class="customradio"><span class="radiotextsty">Pessoal</span>
              <input type="radio" name="situacao" [(ngModel)]="model.situacao" #situacao="ngModel" value="PES">
              <span class="checkmark"></span>
            </label>

            <label class="customradio"><span class="radiotextsty">Oficial</span>
              <input type="radio" name="situacao" [(ngModel)]="model.situacao" #situacao="ngModel" value="OFI">
              <span class="checkmark"></span>
            </label>
          </div>

          <div class="form-label-group">
            <label class="label-login">Cursos</label>
            <input list="cursos" class="form-control" name="curso" name="categoria" [(ngModel)]="model.categoria" #situacao="ngModel">
            <datalist id="cursos">
              <option value="Administração">
              <option value="Ciência da Computação">
              <option value="Ciências Contábeis">
              <option value="Ciências Econômicas">
              <option value="Comunicação Social (hab. Publicidade e Propaganda)">
              <option value="Enfermagem">
              <option value="Engenharia Civil">
              <option value="Engenharia de Produção">
              <option value="Engenharia de Software">
              <option value="Letras">
              <option value="Matemática">
              <option value="Medicina">
              <option value="Psicologia">
              <option value="Sistemas de Informação">
            </datalist>
          </div>
          <br>
          Livros: Você irá poder inserir livros editando a lista na home page!<br>
          <button class="btn btn-lg btn-primary btn-block text-uppercase button-list" type="submit">Salvar</button>
        </form>
      </div>
    </div>
  </div>
</body>
