<body class="login">
  <div class="login-div">
    <div class="container">
      <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-12 mx-auto">
          <div class="card card-signin my-5">
            <div class="card-body">
              <img class="login-brand" src='../../assets/logo-branco.png'>
              <form class="form-signin" (ngSubmit)="onSubmit()">
                <div class="form-label-group">
                  <label class="label-login" for="id">Codigo</label>
                  <input type="text" class="form-control" name="id" [(ngModel)]="model.id" #id="ngModel" placeholder="Código" required autofocus>
                </div>
                <div class="form-label-group">
                  <label class="label-login" for="password">Senha</label>
                  <input type="password" class="form-control" name="password" [(ngModel)]="model.password" #password="ngModel" placeholder="Senha" required>
                </div>
                <div class="form-button">
                  <button class="btn btn-lg btn-primary text-uppercase btn-login" type="submit">Entrar</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
