.login{
  background-color: #1C155B;
  padding-top: 15px;
  height: 100%;
  min-height: 88.5vh;
}
.card-signin{
  background-color: #1C155B;
  border-style: initial;
}

.form-label-group{
  padding-top: 2%;
}

.label-login{
  color: white;
}
