<body class="main">
  <p class="main-title">
    Lista {{this.lista.nome_lista}}
  </p>
  <div class="container global-div">
    <div class="row">
      <div class="col-md-12">
        Nome: {{this.lista.nome_lista}}<br>
        Categoria: {{this.lista.categoria_lista}}<br>
        Tipo de Lista:
        {{this.lista.situacao_lista}}<br>
        Criado Por:
        {{this.user.sobrenome_aluno}}<br>
        Livros:
        <p *ngFor="let results of results; let i = index">
          {{this.results.id_livro}}
        </p>
        Comentários
        <!-- Inserir divisória aqui -->
        Foto do Usuário
        Nome do Usuário
        Nota
        Data
        <!-- Inserir divisória aqui -->
        Conteúdo
        <button type="button" (click)="updateList()">Editar</button>

        <!-- Inserir botão aqui  -->
        <button type="button" (click)="removeList()">Excluir</button>
        <!-- Inserir botão aqui  -->
      </div>
    </div>
  </div>
</body>
