<body class="main">
  <p class="main-title">
    Minha Biblioteca
  </p>
  <div class="container global-div" *ngFor="let lista of lista; let i = index">
    <div class="row">
      <div class="col-md-12">
        {{this.lista.nome_lista}}
        <button type="button" (click)=expandList(i)>Expandir</button>
        <button type="button" (click)="editList(i)">Editar</button>
        <button type="button" (click)="removeList(i)">Excluir</button>
      </div>
    </div>
  </div>
  <div class="container global-div">
    <div class="row">
      <div class="col-md-2 col-md-offset-10">
        <button type="button" class="button_home-page" (click)="createList()"> Nova Lista <i class="fas fa-plus"></i></button>
      </div>
    </div>
  </div>
</body>
