<body class="main">
  <p class="main-title">
    Minha Biblioteca
  </p>
  <div class="container global-div">
    <div class="row" *ngFor="let lista of lista">
      <div class="col-md-12">
        {{this.lista.nome_lista}}

        Título do Livro

        <!-- Inserir botão e icone de rolagem aqui  -->

        Expandir
        <!-- Inserir botão e icone aqui  -->

        Editar
        <!-- Inserir botão, divisoria e icone aqui  -->

        Excluir
        <!-- Inserir botão e icone aqui  -->
      </div>
    </div>
  </div>
  <div class="container global-div">
    <div class="row">
      <div class="col-md-2 col-md-offset-10">
        <button type="button" class="button_home-page"> Nova Lista   <i class="fas fa-plus"></i></button>
      </div>
    </div>
  </div>
</body>
