<body class="main">
  <div class="container global-div">
    <div class="row">
      <div class="col-md-12">
        <h2> {{results.titulo}} </h2>

        <div class="info">
          <p>Tipo: {{results.tipo}}</p>
          <p>Autores:</p>
          <p *ngFor="let results of results.autor">{{results.nome_autor}}</p>
          <p>Volume: {{results.volume}}</p>
          <p>Número da Edição: {{results.edicao}}</p>
          <p>Ano da Edição: {{results.ano}}</p>
          <p>Editora: {{results.editora}}</p>
          <p>Assuntos Relacionados:</p>

          <ul>
            <li *ngFor="let results of results.assuntos">
                {{results.nome_assunto}}
            </li>
          </ul>

          <p>Número de Exemplares na Bibioteca: {{results.n_total}} unidades.</p>
          <p>Disponibilidade Atual: {{results.n_disponivel}} exemplar disponível.</p>

          Avise-me quando estiver disponível:
          <!-- Inserir botão aqui -->

          <div class="related">
          <p>Outros Livros Desse Autor:</p>
          </div>

          <button>
            Avaliar/Comentar
          </button>

        </div>

      </div>
    </div>
  </div>
</body>
