<body class="main">
  <div class="container global-div">
    <div class="row">
      <div class="col-md-12">
        <h2> {{results.titulo}} </h2>

        <div class="info">
          <p>Tipo: {{results.tipo}}</p>
          <p>Autor: {{results.autor}}</p>
          <p>Volume: {{results.volume}}</p>
          <p>Número da Edição: {{results.edicao}}</p>
          <p>Ano da Edição: {{results.ano}}</p>
          <p>Editora: {{results.editora}}</p>
          <p>Assuntos Relacionados:</p>

          <ul>
            <li>
                ADMINISTRAÇAO DE EMPRESAS - TEORIA
            </li>
            <li>
                CAOS DETERMINISTICOS
            </li>
            <li>
                MUDANÇA ORGANIZACIONAL
            </li>
            <li>
      	       COMPLEXIDADE
            </li>
            <li>
      	       ORGANIZAÇOES - TEORIA
            </li>
            <li>
                I.T
            </li>
          </ul>

          <p>Número de Exemplares na Bibioteca: 1 unidade.</p>
          <p>Disponibilidade Atual: 1 exemplar disponível.</p>

          Avise-me quando estiver disponível:
          <!-- Inserir botão aqui -->

          <div class="related">
          <p>Outros Livros Desse Autor:</p>
          </div>

          <button>
            Avaliar/Comentar
          </button>

        </div>

      </div>
    </div>
  </div>
</body>
