<body class="main">
  <p class="main-title">
    Perfil
  </p>
  <div class="container global-div">
    <div class="row">
      <div class="col-md-12">
        Foto do Usuário

        Nome: {{user?.sobrenome_aluno}}
        RA: {{user?.id_aluno}}
        Curso: {{user?.nome_curso}}
        Semestre: {{user?.semestre}}
        Situação: {{results?.situacao_leitor}}
        E-mail: {{user?.email}}

        Lista de Notificação:
        <!-- Inserir quadro aqui-->
        Icone de Editar
        <!-- Inserir botão e icone aqui-->
        <ul>
            <li>
              Livro Disponibilidade
              <!-- Inserir divisória aqui-->
            </li>
        </ul>

        Histórico de Empréstimos:
        <!-- Inserir quadro aqui-->
        Icone de Expandir
        <!-- Inserir botão e icone aqui-->
        <!-- INSERIR TABELA AQUI -->
        <ul>
          Livro / Situação / Data De Empréstimos / Data De Devolução
            <li *ngFor="let results of results">
              {{results?.id_exemplar}} / {{results?.ativo}} / {{results?.dt_emprestimo}} / {{results?.dt_devolucao}}
              <!-- Inserir divisória aqui-->
            </li>
        </ul>
      </div>
    </div>
  </div>
</body>
