<body class="main">
  <p class="main-title">
    Pesquisa de Livros
  </p>
  <div class="container global-div">
    <div class="row">
      <div class="col-md-12">
        <ul>
        <li *ngFor="let results of results | paginate: {  itemsPerPage: 50,
                                                          currentPage: p}">
          <button (click)="onClick(results.id_material)" *ngIf="results.numero_exemplar == 1">
            {{results?.titulo_material}}
            <p *ngIf="results.volume_exemplar != 0" style="display:inline"> {{results?.volume_exemplar}}</p>
            {{results?.edicao_ano}}
          </button>
        </li>
        </ul>
      </div>
    </div>
  </div>
</body>
