<body>
<!-- Landing and Login Page -->
  <div class="guest-bar-container" *ngIf="router.url === '/landing-page' || router.url === '/login-page'">
  </div>
  <!-- Header and Search Bar -->
  <div *ngIf="!(router.url === '/landing-page' || router.url === '/login-page')" class="user-bar-container">
      <input class="search-bar-container" [formControl]="queryField" type="text" id="keyword" placeholder="Procure livros..." autofocus />
      <a class="search-button" [routerLink]="['/search-page']">
        Procurar
      </a>
    <a class="user-name" [routerLink]="['/user-info']">
      <i class="far fa-user-circle fa-2x user_icon"></i>{{user?.sobrenome_aluno}}
    </a>
    <ul>
        <li *ngFor="let results of results ? results.slice(0,6): []" class="search-bar-suggestion-containr">
          <div *ngIf="results.numero_exemplar == 1">
            <button (click)="onClick(results.id_material)" class="search-bar-suggestions">
              {{results.titulo_material}}
              <p *ngIf="results.volume_exemplar != 0" style="display:inline"> {{results.volume_exemplar}} </p>
              {{results.edicao_ano}}
            </button>
          </div>
        </li>
    </ul>
  </div>
  <!-- MENU -->
  <nav *ngIf="!(router.url === '/landing-page' || router.url === '/login-page')" class="navbar navbar-inverse sidebar" role="navigation">
      <div class="sidebar-container">
  		    <div class="navbar-header">
  			       <a class="navbar-brand"><img class="sidebar-brand" src='./assets/logo-branco.png'></a>
  		    </div>
    			<ul class="nav navbar-nav">
      		    <li>
                <a [routerLink]="['/home-page']">
                  <i class="fas fa-home"></i>
                  Minha Biblioteca
                </a>
              </li>
      				<li>
                <a [routerLink]="['/recommended-page']">
                  <i class="fas fa-bookmark"></i>
                  Bibliografia Recomendada
                </a>
              </li>
      				<li>
                <a [routerLink]="['/search-page']">
                  <i class="fas fa-book"></i>
                  Consultar Livros
                </a>
              </li>
              <li>
                <a [routerLink]="['/help-page']">
                  <i class="fas fa-question-circle"></i>
                  Ajuda
                </a>
              </li>
      	 	</ul>
  	  </div>
  </nav>
</body>
<hr/>
